<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Hiking Routes</a>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <a class="nav-link" (click)="onHome()" routerLink="">Home</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
       <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" routerLink="/gethikings">Show Routes</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" routerLink="/addhikings" *ngIf="isLoggedIn">Add Routes</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" routerLink="/searchplants">Search Routes</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn">
     <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto navbar-right" *ngIf="!isLoggedIn">
     <li class="nav-item" >
        <a class="nav-link" routerLink="/register">Register</a>
     </li>
  </ul>
  <ul class="navbar-nav mr-auto">
     <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" routerLink="#">Logout</a>
     </li>
  </ul>
</div>
</nav>