
<h3>Routes</h3>
<label>Page Size:</label>
<select [(ngModel)]="itemsPerPage">
    <option [value]="5">5</option>
    <option [value]="10">10</option>
    <option [value]="15">15</option>
</select>
<ul>
    <li *ngFor="let item of collection| 
        paginate: 
        { 
            itemsPerPage: itemsPerPage, 
            currentPage: page, 
            totalItems: totalItems 
        }
">
        <a routerLink="/gethikings/{{item._id}}">
            {{item.name}} - {{item.state}}
        </a>
        
    </li>
</ul>
<pagination-controls (pageChange)="getPage(page=$event)"></pagination-controls>
